@font-face {
  font-family: 'Island Moments';
  src: url('./IslandMoments-Regular.woff2') format('woff2'),
    url('./IslandMoments-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Halant';
  src: url('./Halant-Regular.woff2') format('woff2'),
    url('./Halant-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('./InstrumentSans-Regular.woff2') format('woff2'),
    url('./InstrumentSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}