@import "./assets/fonts/fonts.css";
@import "tailwindcss";

::selection {
  background: #F15D2B;
  color: #fff;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-8px);
  }

  40% {
    transform: translateX(8px);
  }

  60% {
    transform: translateX(-8px);
  }

  80% {
    transform: translateX(8px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes float {
  0% {
    filter: drop-shadow( 5px 15px 0px rgba(0, 0, 0, 0.1));
    transform: translatey(0px);
  }

  50% {
    filter: drop-shadow( 25px 15px 0px rgba(0, 0, 0, 0));
    transform: translatey(-20px);
  }

  100% {
    filter: drop-shadow( 5px 15px 0px rgba(0, 0, 0, 0.1));
    transform: translatey(0px);
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}